<footer class="h-screen snap-start bg-gray-600 text-white flex items-center justify-center text-center p-6">
    <p class="text-lg">&copy; 2025 Gerardo Rodríguez - Todos los derechos reservados</p>
</footer>
  