<header class="bg-gray-900 text-white p-6 text-center">
    <h1 class="text-3xl font-bold">Gerardo Rodriguez</h1>
    <p class="text-lg">Administrador de base de datos | Desarrollador Backend | Entusiasta de los datos</p>
</header>